DATABASE_URL="postgresql://user:password@localhost:5432/plantoes_medicos"

JWT_ACCESS_SECRET="sua-chave-secreta-access-troque-em-producao"
JWT_REFRESH_SECRET="sua-chave-secreta-refresh-troque-em-producao"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=3333
NODE_ENV="development"

CORS_ORIGIN="http://localhost:3000"
